<h1>Add a Flavor to a Store</h1>

<%= render 'form', store_flavor: @store_flavor %>

<div class="row"></div>
<div class="col s3"><%= link_to 'Back', store_flavors_path, :class=>"teal-text text-lighten-1" %>
<div class="row"></div>