<h1>Editing Employee</h1>

<%= render 'form', employee: @employee %>

<div class="row"></div>
<div class="col s3"><%= link_to 'Back', assignments_path, :class=>"teal-text text-lighten-1" %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Show', @assignment, :class=>"teal-text text-lighten-1" %></div>
<div class="row"></div>