<h1>Editing Employee</h1>

<%= render 'form', employee: @employee %>

<%= link_to 'Show', @employee, :class=>"btn-flat waves-effect waves-teal" %> 
<div class="row"></div>
<%= link_to 'Back', employees_path, :class=>"btn-flat waves-effect waves-teal" %>
