<h3>New Employee</h3>

<%= render 'form', employee: @employee %>
<div class="row"></div>
<div class="col s3"><%= link_to 'Back', employees_path, :class=>"teal-text text-lighten-1"%>
<div class="row"></div>