<h1>Editing Assignment</h1>

<%= render 'form', assignment: @assignment %>


<div class="row"></div>
<div class="col s3"><%= link_to 'Back', assignments_path, :class=>"teal-text text-lighten-1" %>
<div class="row"></div>
