<h1>Editing Store</h1>

<%= render 'form', store: @store %>

<%= link_to 'Show', @store, :class=>"btn-flat waves-effect waves-teal" %> 
<div class="row"></div>
<%= link_to 'Back', stores_path, :class=>"btn-flat waves-effect waves-teal" %>
