<h1>Editing Store</h1>

<%= render 'form', store: @store %>

<div class="row"></div>
<div class="col s3"><%= link_to 'Back', stores_path, :class=>"teal-text text-lighten-1" %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Show', @store, :class=>"teal-text text-lighten-1" %></div>
<div class="row"></div>