<p >
  <div class="col s5"></div><a href="/" class="teal-text text-lighten-1" > Home</a>


</p>
<div id="copyright">
  <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Webmaster: <%= mail_to "imanebendou@gmail.com", "Imane Bendou", :encode => "javascript", :class=> "teal-text text-lighten-1" %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright 2019
  <br /><br />
</div>